<div class="row">
	<div class="col-xs-6 col-sm-3 event-panel">Critical
		<div ng-class="(metrics.clients.critical !== 0 || metrics.events.critical !== 0) ? 'box critical': 'box empty'">
			<span class="count">{{metrics.clients.critical}}</span>
			<span class="criticity">Clients</span>
			<span class="count">{{metrics.events.critical}}</span>
			<span class="criticity">Events</span>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3 event-panel">Warning
		<div ng-class="(metrics.clients.warning !== 0 || metrics.events.warning !== 0) ? 'box warning': 'box empty'">
			<span class="count">{{metrics.clients.warning}}</span>
			<span class="criticity">Clients</span>
			<span class="count">{{metrics.events.warning}}</span>
			<span class="criticity">Events</span>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3 event-panel">Unknown
		<div ng-class="(metrics.clients.unknown !== 0 || metrics.events.unknown !== 0) ? 'box unknown': 'box empty'">
			<span class="count">{{metrics.clients.unknown}}</span>
			<span class="criticity">Clients</span>
			<span class="count">{{metrics.events.unknown}}</span>
			<span class="criticity">Events</span>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3 event-panel">Silenced
		<div ng-class="(metrics.clients.silenced !== 0 || metrics.events.silenced !== 0) ? 'box silenced': 'box empty'">
			<span class="count">{{metrics.clients.silenced}}</span>
			<span class="criticity">Clients</span>
			<span class="count">{{metrics.events.silenced}}</span>
			<span class="criticity">Events</span>
		</div>
	</div>
</div>
